src/main/resources/palava-mails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2010 CosmoCode GmbH

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://palava.cosmocode.de/palava-mail/2.0"
           xmlns:pm="http://palava.cosmocode.de/palava-mail/2.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="mails" type="pm:mailsType"/>

    <xs:complexType name="mailsType">
        <xs:sequence>
            <xs:element name="mail" type="pm:mailType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mailType">
        <xs:sequence>
            <xs:element name="default" type="pm:defaultType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="localized" type="pm:localizedType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" default="MyMail"/>
    </xs:complexType>

    <xs:complexType name="abstractTemplateType" abstract="true">
        <xs:sequence>
            <xs:element name="subject" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="body" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="embedded" type="pm:attachmentType"  minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="attachment" type="pm:attachmentType"  minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="templateEngine" type="xs:string" use="optional" default="de.cosmocode.palava.mail.templating.velocity.VelocityTemplateEngine"/>
    </xs:complexType>

    <xs:complexType name="defaultType">
        <xs:complexContent>
            <xs:extension base="pm:abstractTemplateType">
                <xs:sequence>
                    <xs:element name="snippet" type="pm:snippetType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="localizedType">
        <xs:complexContent>
            <xs:extension base="pm:abstractTemplateType">
                <xs:attribute name="locale" type="xs:string" default="en_US"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="snippetType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" default="MySnippet"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="attachmentType">
        <xs:sequence>
            <xs:element name="config" type="pm:configType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" default="MyDocument.doc"/>
        <xs:attribute name="source" type="xs:string" default="de.cosmocode.palava.mail.attachments.LocalFileAttachment"/>
    </xs:complexType>

    <xs:complexType name="configType">
        <xs:attribute name="name" type="xs:string" default="configuration_key"/>
        <xs:attribute name="value" type="xs:string" default="configuration_value"/>
    </xs:complexType>

</xs:schema>